# Compiled Object files
*.o
*.obj

# Compiled Executable
organizer

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# VS Code / Editor config
.vscode/
.idea/

# Test Data and Output directories
Organized_Output/
fakeFiles/
test_data/
